#include "Base.xcconfig"

BITCODE_GENERATION_MODE = marker;
DEBUG_INFORMATION_FORMAT = dwarf;
MTL_ENABLE_DEBUG_INFO = YES;
COPY_PHASE_STRIP = NO;
ENABLE_TESTABILITY = YES;
GCC_OPTIMIZATION_LEVEL = 0;
ONLY_ACTIVE_ARCH = YES;
SWIFT_OPTIMIZATION_LEVEL = -Onone;
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG;

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1;
